
@{
    ViewData["Title"] = "Admin Ana Ekran";
}

<h1>Admin Ana Ekran</h1>

<a class="btn btn-primary" href="/admin/Brands">Markalar</a>
<a class="btn btn-primary" href="/Admin/Cars">Araçlar</a>
<a class="btn btn-primary" href="/admin/Customers">Müşteriler</a>
<a class="btn btn-primary" href="/admin/Sales">Satışlar</a>
<a class="btn btn-primary" href="/admin/Services">Servis Kayıtları</a>
<a class="btn btn-primary" href="/Admin/Sliders">Slider</a>
<a class="btn btn-primary" href="/Admin/Roles">Roller</a>
<a class="btn btn-primary" href="/admin/Users">Kullanıcılar</a>
