@model CustomerLoginViewModel

@{
    ViewData["Title"] = "Üye Girişi";
}

<h1>Üye Girişi</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sifre" class="control-label"></label>
                <input asp-for="Sifre" class="form-control" />
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Giriş" class="btn btn-primary mt-2" />
            </div>
        </form>
        <p>Admin Email:admin@admin.com</p>
        <p>Admin şifre:a</p>
        <p>Müşteri mail: fatih@gmail.com</p>
        <p>Müşteri Şifre: fatih</p>
    </div>
</div>